.button {
  height: 50px;
  cursor: pointer;
  color: Black;
  background-color: beige;
  font-size: 1.5rem;
  transition: all 0.2s ease;

  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    background-color: #ddd;
  }

  &:hover {
    transform: scale(1.2);
    &.reset {
      background-color: red;
      color: white;
      & svg {
        transition: transform 0.5s ease;
        transform: rotate(-180deg);
      }
    }

    &.accept {
      background-color: teal;
      color: white;
      & svg {
        transition: transform 0.5s ease;
      }
    }
  }
}
